<!DOCTYPE html>
<html  xmlns:th="https://www.thymeleaf.org" 
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title th:text="#{app.title}+#{shifts.title}"></title>
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
</head>
<body>
<th:block th:insert="fragments/header.html"/>
<div class="container">
		<h2 th:text = "#{shifts.title}">Shifts</h2>
</div>

<th:block th:insert="fragments/messages.html"> </th:block>

	<div  th:if="${shifts.hasContent}">
	
	<span th:text="${shifts.getTotalElements}"></span>&nbsp;<span th:text="#{shifts.text.totalnumber}"></span>
		<table  class="table table-striped">
				<thead class="font-weight-bold">
					<tr>
						<td th:text="#{shifts.table.label.id}">Id</td>
						<td th:text="#{shifts.table.label.begindate}">Start date</td>
						<td th:text="#{shifts.table.label.enddate}">End date</td>
						<td></td>
					</tr>
				</thead>
				<tr th:each="shift : ${shifts}">
					<td th:text="${shift.id}"></td>
					<td th:text="${#temporals.format(shift.beginDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
					<td th:text="${#temporals.format(shift.endDate, 'dd-MM-yyyy HH:mm:ss')}"></td>
					<td>
					<form method="get">
					<input type = "hidden" name="shiftId" id="shiftId" th:value="${shift.id}">
					<input type = "hidden" name = "type" id = "type" th:value = "${shift.endDate == null ? 'X' : 'Z'}">
					<button th:if="${shift.endDate == null}" type="submit" formaction="/report/compose"class="btn btn-primary  btn-sm">Form X report</button>
					<button th:unless="${shift.endDate == null}" type="submit" formaction="/report/compose" class="btn btn-primary btn-sm">Show Z report</button>
					</form>
					
					</td>
					
				</tr>
		</table>
		
<div  th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
				<div th:if="${pages.size < 1}" th:each="pageN : ${pages}">
					<a th:href="@{${urlBuilder.replaceQueryParam('pageN', pageN).toUriString()}}" th:text="${pageN}"></a>
				</div>
	</div>
	<div  th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
		<!-- shifts pagination -->
		<nav aria-label="Pagination" th:if="${shifts.totalPages > 1}">
			<ul class="pagination justify-content-center font-weight-bold">
				<li class="page-item"
					th:classappend="${shifts.number == 0} ? 'disabled'"><a
					class="page-link"
					th:href="@{${urlBuilder.replaceQueryParam('page', __${shifts.number < 2 ? 1 : shifts.number}__).toUriString()}}"
					aria-label="Previous" title="Previous Page" data-toggle="tooltip">
						<span aria-hidden="true">&laquo;</span>
				</a></li>
				<li class="page-item"
					th:classappend="${i == shifts.number + 1} ? 'active'"
					th:each="i : ${#numbers.sequence( 1, shifts.totalPages, 1)}">
					<a class="page-link" th:href="@{${urlBuilder.replaceQueryParam('page', i).toUriString()}}"
					th:text="${i}" th:title="${'Page '+ i}" data-toggle="tooltip"></a>
				</li>
				<li class="page-item"
					th:classappend="${shifts.number + 1 == shifts.totalPages} ? 'disabled'">
					<a class="page-link"
					th:href="@{${urlBuilder.replaceQueryParam('page', __${shifts.number + 2}__).toUriString()}}"
					aria-label="Next" title="Next Page" data-toggle="tooltip"> <span
						aria-hidden="true">&raquo;</span>
				</a>
				</li>
			</ul>
	</nav>
</div>
</div>		
		
		<div  th:if="${!shifts.hasContent}"class="alert alert-info" th:text="#{shifts.text.empty}">No shifts yet</div>
		
		<form method="post">
		<div class="container">
		<button type="submit" formaction="/shifts/close" class="btn btn-info btn-md" th:text="#{shifts.button.label.closeshift}">Close</button>
		</div>
		<br>
		<div class="container">
		<button type="submit" formaction="/shifts/open" class="btn btn-info  btn-md" th:text="#{shifts.button.label.newshift}">Start new shift</button>
		</div>
		</form>
			
			
<th:block th:insert="fragments/footer.html"> </th:block>